@model WebApi.Models.Home.InfoModel

@{
    ViewBag.Title = "Info";
    Layout = "_Layout";
}

<h2>Info</h2>


<table>
    @foreach (var item in Model.keys)
    {
        <tr>
            <td>@item.Key</td>
            <td>@item.Value</td>
        </tr>
    }
</table>

